<div class="page-content">
  <div class="container-fluid border-bottom">
    <div class="row mt-3">
      <div class="col-12">
        <div
          class="d-sm-flex justify-content-between align-items-center mt-4 page-title-box"
        >
          <div>
            <h4 class="fw-semibold text-primary mb-sm-0 h3">
              Liste des logs d'activitées utilisateurs
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="card border-0 shadow-sm mb-4">
      <div class="card-body">
        <form [formGroup]="searchForm">

          <div class="row align-items-end g-3">
            <div class="col-md-2">
              <label class="fw-semibold form-label" for="dateDebut"
              >Date Debut</label
              >
              <input
                type="date"
                name="dateDebut"
                id="dateDebut"
                class="form-control"
                formControlName="dateDebut"
              />
            </div>

            <div class="col-md-2">
              <label class="fw-semibold form-label" for="dateFin">Date Fin</label>
              <input
                type="date"
                name="dateFin"
                id="dateFin"
                class="form-control"
                formControlName="dateFin"
              />
            </div>

            <div class="col-md-2">
              <label class="fw-semibold form-label" for="application">
                Applications
              </label>
              <select class="form-select" id="application" formControlName="application">
                <option [defaultSelected]="true">Toutes</option>
                <option value="Backoffice web site">Backoffice web site</option>
                <option value="Banking web site">Banking web site</option>
              </select>
            </div>

            <div class="col-md-2">
              <label class="fw-semibold form-label" for="username">
                Nom utilisateur
              </label>
              <select *ngIf="!isLoadingNomUser" class="form-select" id="username" formControlName="username">
                <option value="">Tous</option>
                <option *ngFor="let user of nomUsers" [value]="user.id">
                  {{ user.nomComplet + ' | ' + user.vcPhoneNumber }}
                </option>
              </select>
              <div *ngIf="isLoadingNomUser" class="text-muted">
                Chargement...
              </div>
            </div>

            <div class="col-md-4">
              <div class="btn-group gap-2 d-grid d-md-flex w-100" role="group">
                <button
                  class="btn btn-success"
                  (click)="onSearchClick()"
                  [disabled]="isLoading || isLoadingNomUser"
                >
                  <i class="fas fa-search me-1"></i>
                  {{ isLoading ? 'Recherche...' : 'Rechercher' }}
                </button>

                <div class="dropdown dropup">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    [disabled]="logActiviteUsers.length === 0"
                  >
                    <i class="fas fa-download me-1"></i>Exporter
                  </button>

                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#" (click)="exportToPDFHandler($event)">
                        <i class="fas fa-file-pdf text-danger me-2"></i>PDF
                      </a>
                    </li>

                    <li>
                      <a class="dropdown-item" href="#" (click)="exportToCSVHandler($event)">
                        <i class="fas fa-file-csv text-success me-2"></i>CSV
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="table-responsive">
          <table *ngIf="!isLoadingUserLogs && logActiviteUsers.length > 0"
                 appDataTable
                 class="table table-hover table-striped datatable"
          >
            <thead class="table-primary">
            <tr class="text-center">
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Nom utilisateur</th>
              <th scope="col">Login utilisateur</th>
              <th scope="col">Statut</th>
              <th scope="col">Etat</th>
              <th scope="col">IP</th>
              <th scope="col">Navigateur</th>
              <th scope="col">Application</th>
              <th scope="col">Source</th>
              <th scope="col">Message</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let log of logActiviteUsers; let i =  index;" id="{i}">
              <td>{{ i + 1 }}</td>
              <td>{{ log.dtDate | date:'dd/MM/yyyy' }} <br> {{ log.dtDate | date: 'HH:mm:ss' }}</td>
              <td>{{ log.FullName || "Nom inconnu" }}</td>
              <td>{{ log.vcUserName || "Login inconnu" }}</td>
              <td>
                <span class="badge rounded-pill text-bg-{{+log.btEnabled === 1 ? 'success' : 'danger' }}">
                  <i class="fa fa-{{+log.btEnabled === 1 ? 'check' : 'exclamation-triangle'}} "></i>
                  {{ +log.btEnabled === 1 ? "Actif" : "Inactif" }}
                </span>
              </td>
              <td>
                <span class="badge rounded-pill text-bg-{{+log.btBlocked === 1 ? 'danger' : 'success' }}">
                  <i class="fa fa-{{+log.btBlocked === 1 ? 'exclamation-triangle' : 'check'}} "></i>
                  {{ +log.btBlocked === 1 ? "Bloqué" : "Non bloqué" }}
                </span>
              </td>
              <td>{{ log.vcIP }}</td>
              <td>{{ log.vcBrowser }}</td>
              <td>{{ log.vcApplicationName }}</td>
              <td>{{ log.vcSource }}</td>
              <td>{{ log.vcMessage }}</td>
              <td class="text-center">
                <div style="display: flex; justify-content: center; gap: 8px">
                  <a [routerLink]="['/utilisateurs']" [queryParams]="{id: log.iUserID}" class="btn btn-sm btn-info">
                    <i class="fas fa-eye"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- au chargement des donnne -->
        <div *ngIf="isLoadingUserLogs" class="text-center my-3">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"
            >Chargement des données en cours...</span
            >
          </div>
          <p class="text-muted">
            Veuillez patientez pendant que les données se chargent.
          </p>
        </div>

        <!-- Si liste des organisations est vide -->
        <div
          *ngIf="!isLoadingUserLogs && logActiviteUsers.length === 0"
          class="text-center py-5"
        >
          <div class="mb-3">
            <i class="text-muted bi bi-inbox display-1"></i>
          </div>
          <h5 class="text-muted">Aucun utilisateur disponible....</h5>
          <p class="text-muted">
            Il n'y a pas d'utilisateur enregistrée pour l'instant !
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
