<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg" style="max-width: 400px; width: 100%">
    <div class="card-body">
      <h5 class="card-title text-center mb-4 text-primary">
        Mot de passe oublié
      </h5>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <!-- Champ Email -->
        <div class="mb-3">
          <label class="form-label">Adresse Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control border-1 border-primary"
            placeholder="Entrez votre email"
          />
          <div
            *ngIf="
              forgotPasswordForm.get('email')?.touched &&
              forgotPasswordForm.get('email')?.invalid
            "
            class="text-danger"
          >
            Email valide requis
          </div>
        </div>

        <!-- Bouton -->

        <div
          class="d-flex flex-column flex-sm-row justify-content-between align-items-center mt-3 gap-2"
        >
          <button
            class="btn btn-outline-danger px-3 py-2 w-100 w-sm-auto"
            type="button"
            routerLink="/login"
          >
            <i class="fas fa-arrow-left me-2"></i> Retour
          </button>

          <button
            class="btn btn-primary px-3 py-2 w-100 w-sm-auto"
            type="submit"
            [disabled]="loading"
          >
            <i class="bi bi-arrow-repeat me-2" *ngIf="loading"></i>
            {{ loading ? "Envoi en cours..." : "Réinitialiser" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
