<div class="page-content">
  <div class="container-fluid border-bottom">
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-sm-flex justify-content-between align-items-center mt-4 page-title-box">
          <div>
            <h4 class="fw-semibold text-primary mb-sm-0 h3">Fiche Détaillée Utilisateur</h4>
            <p class="text-secondary mb-sm-0 font-size-13">Processus guidé d'intégration client entreprise</p>
          </div>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a><span>Entreprises Clientes</span></a></li>
              <li class="breadcrumb-item"><a href="dashboard-entreprises-clientes.html"><span>Tableau de Bord</span></a></li>
              <li class="breadcrumb-item"><a href="#"><span>Fiche détaillée</span></a></li>
            </ol><span class="badge bg-success ms-2">🟢 Tous les services opérationnels</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
