<div class="page-content">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="mb-4 mb-lg-0 row gx-3 gy-2 filter-bar">
              <div class="col-md-3 me-auto mb-4 mb-lg-0 row gy-2">
                <select class="form-select form-select filter-select">
                  <option value>Aujourd'hui</option>
                  <option value>Cette semaine</option>
                  <option value>Ce mois</option>
                  <option value>Personnalisé</option>
                </select>
              </div>
              <div class="col-md-3 me-auto mb-4 mb-lg-0 row gx-3 gy-2">
                <select class="form-select form-select filter-select">
                  <option value>Toutes les entreprises</option>
                  <option value>Orange Guinée</option>
                  <option value>SOGEA SATOM</option>
                  <option value>CBM</option>
                  <option value>UMS Guinea</option>
                </select>
              </div>
              <div class="col-md-3 me-auto mb-4 mb-lg-0 row gx-3 gy-2">
                <select class="form-select form-select filter-select">
                  <option value>Tous les segments</option>
                  <option value>Grandes entreprises</option>
                  <option value>PME</option>
                  <option value>Startups</option>
                </select>
              </div>
              <div class="col-md-3 me-auto mb-4 mb-lg-0 row gx-3 gy-2">
                <button class="btn btn-primary ms-auto">
                  <i class="me-2 bi bi-arrow-clockwise"></i>Actualiser
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-xl-4">

        <div class="card card-h-100">
          <div class="card-header">
            <h2 class="card-title">Titre du card</h2>
          </div>

          <div class="card-body">
            <div>
              <apx-chart #chart

                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip"
                [dataLabels]="chartOptions.dataLabels">
              </apx-chart>
            </div>
          </div>
        </div>
        <!--        <div-->
        <!--          class="card card-h-100"-->
        <!--          style="-->
        <!--            background: url('assets/img/images-bci/bg-chart-BCI-Internet_Banking-3.jpg?h=60704d8652a4d6012af3cf7b9e758808')-->
        <!--              right / cover;-->
        <!--          "-->
        <!--        >-->
        <!--          <div class="card-header text-light bg-transparent">-->
        <!--            <div class="d-flex align-items-center flex-wrap">-->
        <!--              <h5 class="text-nowrap me-2 card-title chart-title">-->
        <!--                Volume des opérations-->
        <!--              </h5>-->
        <!--              <div-->
        <!--                class="btn-group btn-group-sm ms-auto page-title-right"-->
        <!--                role="group"-->
        <!--              >-->
        <!--                <button class="btn btn-outline-secondary active" type="button">-->
        <!--                  24h</button-->
        <!--                ><button class="btn btn-outline-secondary" type="button">-->
        <!--                7j</button-->
        <!--              ><button class="btn btn-outline-secondary" type="button">-->
        <!--                30j-->
        <!--              </button>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--          <div-->
        <!--            class="card-body text-light finance-chart-container"-->
        <!--          >-->
        <!--            <canvas id="myAreaChart"></canvas>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
