<apx-chart
  [series]="options.series"
  [chart]="options.chart"
  [labels]="options.labels"
  [colors]="options.colors"
  [dataLabels]="options.dataLabels"
  [legend]="options.legend"
  [fill]="options.fill"
  [tooltip]="options.tooltip"
  [plotOptions]="options.plotOptions"
  [responsive]="options.responsive"
  [xaxis]="options.xaxis"
  [yaxis]="options.yaxis"
  [grid]="options.grid"
  [stroke]="options.stroke"
  [title]="options.title"
  [annotations]="options.annotations"
  [markers]="options.markers"
  [theme]="options.theme"
  [states]="options.states"
  [subtitle]="options.subtitle"
></apx-chart>
