<div class="page-content">
  <div class="container-fluid border-bottom">
    <div class="row mt-3">
      <div class="col-12">
        <div
          class="d-sm-flex justify-content-between align-items-center mt-4 page-title-box"
        >
          <div>
            <h4 class="fw-semibold text-primary mb-sm-0 h3">
              Demandes de souscription
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-12">
        <div class="card bci-card">
          <ul class="nav nav-tabs card-header" role="tablist" id="supportTabs">
            <!-- Attentes -->
            <li class="nav-item" role="presentation">
              <a
                class="nav-link fw-semibold"
                [ngClass]="{
                  active: isActive('attente'),
                  'bg-primary text-white': isActive('attente')
                }"
                role="tab"
                data-bs-toggle="tab"
                (click)="setActiveTab('attente')"
                [attr.aria-selected]="isActive('attente')"
              >
                <i class="fas fa-tachometer-alt me-2"></i>En Attentes
                <span class="badge bg-warning ms-2">{{
                  isLoadingDemandes ? "" : demandes.length
                }}</span>
              </a>
            </li>

            <!-- Traites -->
            <li class="nav-item" role="presentation">
              <a
                class="nav-link fw-semibold"
                [ngClass]="{
                  active: isActive('traiter'),
                  'bg-primary text-white': isActive('traiter')
                }"
                role="tab"
                data-bs-toggle="tab"
                (click)="setActiveTab('traiter')"
                [attr.aria-selected]="isActive('traiter')"
              >
                <i class="fas fa-user me-2"></i>Traitées
                <span class="badge bg-success ms-2">{{
                  isLoadingDemandes ? "" : traitedDemandes.length
                }}</span>
              </a>
            </li>

            <!-- Rejecter -->
            <li class="nav-item" role="presentation">
              <a
                class="nav-link fw-semibold"
                [ngClass]="{
                  active: isActive('rejetes'),
                  'bg-primary text-white': isActive('rejetes')
                }"
                role="tab"
                data-bs-toggle="tab"
                href="#rejetes"
                (click)="setActiveTab('rejetes')"
                [attr.aria-selected]="isActive('rejetes')"
              >
                <i class="fas fa-arrow-up me-2"></i> Réjétés
                <span class="badge bg-danger ms-2">{{
                  isLoadingDemandes ? "" : rejectedDemandes.length
                }}</span>
              </a>
            </li>
          </ul>

          <div class="tab-content card-body">
            <!-- Attentes -->
            <div
              class="tab-pane"
              [ngClass]="{ active: isActive('attente') }"
              role="tabpanel"
              id="attente"
            >
              <div class="table-responsive">
                <table
                  *ngIf="!isLoadingDemandes"
                  datatable
                  [dtOptions]="dtOptions[0]"
                  [dtTrigger]="dtTriggers[0]"
                  id="table-attente"
                  class="table table-hover"
                >
                  <thead class="table-primary">
                    <tr>
                      <th>#</th>
                      <th>Identifiant Client</th>
                      <th>Nom</th>
                      <th>Téléphone</th>
                      <th>Email</th>
                      <th>Type Client</th>
                      <th>Status demandes</th>
                      <th>Organisation</th>
                      <th>Tél Org</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let demande of demandes; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ demande.vcPersonalID }}</td>
                      <td>{{ demande.vcPersonalName }}</td>
                      <td>{{ demande.vcPhoneNumber }}</td>
                      <td>{{ demande.vcEmail }}</td>
                      <td>{{ demande.typeClient }}</td>
                      <td>
                        <span class="badge bg-warning">
                          {{ demande.statutDemande }}
                        </span>
                      </td>
                      <td>{{ demande.nomOrganisation }}</td>
                      <td>{{ demande.phoneOrganisation }}</td>
                      <td>
                        <div class="d-flex justify-content-center gap-2">
                          <a
                            routerLink="/agent-demandes/{{ demande.id }}"
                            class="btn btn-sm btn-outline-primary"
                            title="Voir détails"
                          >
                            <i class="fas fa-eye"></i>
                          </a>

                          <!-- <button class="btn btn-sm btn-outline-success" title="Communication">-->
                          <!--   <i class="fas fa-comments"></i>-->
                          <!-- </button>-->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- au chargement des donnne -->
              <div *ngIf="isLoadingDemandes" class="text-center my-3">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden"
                    >Chargement des données en cours...</span
                  >
                </div>
                <p class="text-muted">
                  Veuillez patientez pendant que les données se chargent.
                </p>
              </div>

              <!-- Si liste est vide -->
              <div
                *ngIf="!isLoadingDemandes && demandes.length === 0"
                class="text-center py-5"
              >
                <div class="mb-3">
                  <i class="text-muted bi bi-inbox display-1"></i>
                </div>
                <h5 class="text-muted">Aucune demandes trouvée....</h5>
                <p class="text-muted">
                  Il n'y a pas de demandes en attentes pour l'instant !
                </p>
              </div>
            </div>

            <!-- Traites -->
            <div
              class="tab-pane"
              [ngClass]="{ active: isActive('traiter') }"
              role="tabpanel"
              id="traiter"
            >
              <div class="table-responsive">
                <table
                  *ngIf="!isLoadingDemandes"
                  datatable
                  [dtOptions]="dtOptions[0]"
                  [dtTrigger]="dtTriggers[0]"
                  id="table-attente"
                  class="table table-hover"
                >
                  <thead class="table-primary">
                    <tr>
                      <th>#</th>
                      <th>Identifiant Client</th>
                      <th>Nom</th>
                      <th>Téléphone</th>
                      <th>Email</th>
                      <th>Type Client</th>
                      <th>Status demandes</th>
                      <th>Organisation</th>
                      <th>Tél Org</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let demande of traitedDemandes; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ demande.vcPersonalID }}</td>
                      <td>{{ demande.vcPersonalName }}</td>
                      <td>{{ demande.vcPhoneNumber }}</td>
                      <td>{{ demande.vcEmail }}</td>
                      <td>{{ demande.typeClient }}</td>
                      <td>
                        <span class="badge bg-success">
                          @if( demande.statutDemande == 'Valide' ){ Validée }
                          <!-- {{ demande.statutDemande }} -->
                        </span>
                      </td>
                      <td>{{ demande.nomOrganisation }}</td>
                      <td>{{ demande.phoneOrganisation }}</td>
                      <td>
                        <div class="d-flex justify-content-center gap-2">
                          <a
                            routerLink="/agent-demandes/{{ demande.id }}"
                            class="btn btn-sm btn-outline-primary"
                            title="Voir détails"
                          >
                            <i class="fas fa-eye"></i>
                          </a>

                          <!-- <button class="btn btn-sm btn-outline-success" title="Communication">-->
                          <!--   <i class="fas fa-comments"></i>-->
                          <!-- </button>-->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- au chargement des donnne -->
              <div *ngIf="isLoadingDemandes" class="text-center my-3">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden"
                    >Chargement des données en cours...</span
                  >
                </div>
                <p class="text-muted">
                  Veuillez patientez pendant que les données se chargent.
                </p>
              </div>

              <!-- Si liste est vide -->
              <div
                *ngIf="!isLoadingDemandes && traitedDemandes.length === 0"
                class="text-center py-5"
              >
                <div class="mb-3">
                  <i class="text-muted bi bi-inbox display-1"></i>
                </div>
                <h5 class="text-muted">Aucune demandes trouvée....</h5>
                <p class="text-muted">
                  Il n'y a pas de demandes traitées pour l'instant !
                </p>
              </div>
            </div>

            <!-- Rejecter -->
            <div
              class="tab-pane"
              [ngClass]="{ active: isActive('rejetes') }"
              role="tabpanel"
              id="rejetes"
            >
              <div class="table-responsive">
                <table
                  *ngIf="!isLoadingDemandes"
                  datatable
                  [dtOptions]="dtOptions[0]"
                  [dtTrigger]="dtTriggers[0]"
                  id="table-attente"
                  class="table table-hover"
                >
                  <thead class="table-primary">
                    <tr>
                      <th>#</th>
                      <th>Identifiant Client</th>
                      <th>Nom</th>
                      <th>Téléphone</th>
                      <th>Email</th>
                      <th>Type Client</th>
                      <th>Status demandes</th>
                      <th>Organisation</th>
                      <th>Tél Org</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let demande of rejectedDemandes; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ demande.vcPersonalID }}</td>
                      <td>{{ demande.vcPersonalName }}</td>
                      <td>{{ demande.vcPhoneNumber }}</td>
                      <td>{{ demande.vcEmail }}</td>
                      <td>{{ demande.typeClient }}</td>
                      <td>
                        <span class="badge bg-danger">
                          @if( demande.statutDemande == 'Rejete' ){ Réjétée }
                        </span>
                      </td>
                      <td>{{ demande.nomOrganisation }}</td>
                      <td>{{ demande.phoneOrganisation }}</td>
                      <td>
                        <div class="d-flex justify-content-center gap-2">
                          <a
                            routerLink="/agent-demandes/{{ demande.id }}"
                            class="btn btn-sm btn-outline-primary"
                            title="Voir détails"
                          >
                            <i class="fas fa-eye"></i>
                          </a>

                          <!-- <button class="btn btn-sm btn-outline-success" title="Communication">-->
                          <!--   <i class="fas fa-comments"></i>-->
                          <!-- </button>-->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- au chargement des donnne -->
              <div *ngIf="isLoadingDemandes" class="text-center my-3">
                <div class="spinner-border text-primary" role="status">
                  <span class="visually-hidden"
                    >Chargement des données en cours...</span
                  >
                </div>
                <p class="text-muted">
                  Veuillez patientez pendant que les données se chargent.
                </p>
              </div>

              <!-- Si liste est vide -->
              <div
                *ngIf="!isLoadingDemandes && rejectedDemandes.length === 0"
                class="text-center py-5"
              >
                <div class="mb-3">
                  <i class="text-muted bi bi-inbox display-1"></i>
                </div>
                <h5 class="text-muted">Aucune demandes trouvée....</h5>
                <p class="text-muted">
                  Il n'y a pas de demandes réjétées pour l'instant !
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
