<div class="page-content">
  <div class="container-fluid border-bottom">
    <div class="row mt-3">
      <div class="col-12">
        <div class="d-sm-flex justify-content-between align-items-center mt-4 page-title-box">
          <div>
            <h4 class="fw-semibold text-primary mb-sm-0 h3">Alertes et supervisions</h4>
            <p class="text-secondary mb-sm-0 font-size-13">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, fuga.
            </p>
          </div>
          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a><span>Rapports &amp; exportations</span></a></li>
              <li class="breadcrumb-item"><a href="#"><span>Rapports Périodiques</span></a></li>
            </ol>
            <div class="float-end small" id="systemStatus-1"><span class="badge bg-success me-2"><i
              class="icon ion-android-checkmark-circle"></i> Système opérationnel </span><small class="text-muted">Dernière
              synchro : <span id="lastSync">10:14 UTC</span></small></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4">
    <div class="row">
      <div class="card col-md-6">
        <div class="card-header">
          <h3>Titre du card</h3>
          <div class="card-body">
            <div id="chart">
              <app-line-chart />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
